{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock head %}
{% block main %}
  <h1>Wikidata MassMessage</h1>
  <p class="lead">
    This tool generates a list of wikipages based on Wikidata items,
    ready and formatted as a delivery list for MassMessage.
  </p>
  <form action="./wikidata-massmessage" method="post">
    <datalist id="item-ids">
      <option value="Q16503">Q16503 (village pump)</option>
      <option value="Q4582194">Q4582194 (technical village pump)</option>
    </datalist>
    {% for page in pages %} {% set pageNum = loop.index %} {% set firstPage = loop.first %}
      <fieldset id="page{{pageNum}}" class="form-group form-row">
        <legend>{% if not firstPage %}<small>(optional)</small>{% endif %} {{page.legend}}</legend>
        {% for itemId in page.itemIds %} {% set itemIdNum = loop.index %} {% set firstItem = loop.first %}
          <div class="col-md-4">
            <label for="page{{pageNum}}-itemid{{itemIdNum}}">{{itemId.label}}:</label>
            <input id="page{{pageNum}}-itemid{{itemIdNum}}" class="form-control item-id" name="page{{pageNum}}id{{itemIdNum}}" type="text" {% if firstPage and firstItem %} required autofocus {% endif %} size="10" pattern="{{itemIdPattern}}" placeholder="{{itemId.placeholder}}" list="item-ids">
            <div class="form-check use-talk">
              <input id="page{{pageNum}}-itemid{{itemIdNum}}-talk" class="form-check-input" name="page{{pageNum}}id{{itemIdNum}}talk" type="checkbox">
              <label for="page{{pageNum}}-itemid{{itemIdNum}}-talk" class="form-check-label">Use talk pages</label>
            </div>
          </div>
        {% endfor %}
        {% if page.help %}
          <small class="form-text text-muted">{{page.help}}</small>
        {% endif %}
      </fieldset>
    {% endfor %}
    <div class="form-group">
      <label for="wiki-group">Wiki group:</label>
      <select id="wiki-group" class="form-control" multiple name="wikigroup" size="{{wikiGroups|length}}">
        {% for wikiGroup in wikiGroups %}
          <option value="{{wikiGroup}}" selected>{{wikiGroup}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock main %}
