{% extends "base.html" %}
{% block title %}License – {{ super() }}{% endblock title %}
{% block main %}
  <p>
    The Wikidata MassMessage tool is published under the <a rel="license" href="http://www.wikidata.org/entity/Q27017232">GNU Affero General Public License, version 3</a>.
    The full text of the license is shown below,
    and you can find the full source code of the tool <a href="https://gitlab.wikimedia.org/toolforge-repos/wdmm">on GitLab</a>.
  </p>
  <div class="card w-75 mx-auto" style="max-height: 20em">
    <pre class="card-body">{{ license }}</pre>
  </div>
  <p>
    We also use other components:
    <ul>
      {% for name, software in otherSoftware.items() %}
        <li>
          <a href="http://www.wikidata.org/entity/{{ software.id }}">{{ name }}</a>, {{ software.description|safe }},
          published under the <a href="{{ software.license.url }}">{{ software.license.name }}</a>.
        </li>
      {% endfor %}
    </ul>
  </p>
{% endblock main %}
